.signupwrapper{
    margin: 20px auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signupheader{
    font-size: 48px;
    font-weight: bold;
    width: inherit;
    text-align: center;
    margin-bottom: 20px;
}
.SignupButton{
    background-color: #3861fb;
    color: white;
    border: none;
    outline: none;
    width: 30%;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    margin: 10px;
    margin-top: 30px;
}
.SignupButton:disabled{
    background-color: #6785ef;

}
.LoginAccount{
    margin-top: 50px;
    margin-left: 10px;
    color: #16c784;
    font-size: 18px;
    cursor: pointer;
}
.errormessage{
    color: #ea3943;
    margin: 20px 0;
    font-size: 20px;
}